/*
 * style.css
 * Stylesheet for the World Wind Animator Documentation.
 *
 * Created By: Neil Caldwell
 * Created On: 22/02/2011
 */

ol.appendix {
	list-style-type: upper-alpha;
}

p {
	text-align: justify;
}

font.code {
	font-family: monospace;
	font-size: 10pt;
}

font.em{
	font-family: monospace;
}

img {
	border-style: none;
}

table {
}

td.def {
	text-align: right;
}

.comment {
	color: darkseagreen;
	font-style: italic;
	font-weight: bold;
}

.add {
	color: red;
	font-style: italic;
	font-weight: bold;
}

.remove {
	color: orange;
	text-decoration: line-through;
	font-weight: bold;
}

.tag {
	color: blue;
}

.litteral {
	color: red;
}

.keyword {
	color: green;
}

.param {
	color: purple;
	font-weight: bold;
}

.fig_code {
	border: 1px solid black;
	padding: .5em;
}