/*
 * style.css
 * Stylesheet for the World Wind Animator Documentation.
 *
 * Created By: Neil Caldwell
 * Created On: 22/02/2011
 */

ol.appendix {
	list-style-type: upper-alpha;
}

p {
	text-indent: 1em;
	text-align: justify;
}

font.code {
	font-family: monospace;
	font-size: 10pt;
}

font.em{
	font-family: monospace;
}

img {
	border-style: none;
}

table {
}

td.def {
	text-align: right;
}